# ===== Gradle =====
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc) — jangan di-commit
local.properties

# ===== Keystore & rahasia (JANGAN PERNAH di-commit!) =====
# berisi password signing release
keystore.properties
*.jks
*.keystore
google-services.json

# ===== Database backup lokal =====
*.db

# ===== Artefak build =====
*.apk
*.aab
*.hprof
output-metadata.json
/META-INF/

# ===== Log / OS =====
*.log
.DS_Store

# ===== Android Studio / IntelliJ =====
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# ===== Cache kompilator Kotlin =====
.kotlin/

# ===== Screenshot tes di root =====
/*.png
